body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.img {
    width: 35px !important;
    height: 35px !important;
    min-width: 35px !important;
    
    object-fit: contain !important;
    
    filter: drop-shadow(1px 1px 0px black);
    flex-shrink: 0;
}
