body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Arial Black', sans-serif;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #70d1ff url('../images/fondo.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
    transform: scale(1.1);
}

.btn-simpson {
    background-color: #FFD90F;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border: 3px solid #000;
    border-radius: 50px;
    box-shadow: 4px 4px 0px #000;
    transition: all 0.2s ease;
    flex: 1 1 150px;
    max-width: 250px;
    text-align: center;
    display: inline-block;
}

.btn-simpson:hover {
    background-color: #f14e28;
    color: white;
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 2px 2px 0px #000;
}


.nav-simpson {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-top: 5px solid #FFD90F;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card-character {
    background-color: white !important;
    border: 3px solid #FFD90F !important;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card-character:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3) !important;
}

.card-character img {
    padding: 15px;
    background-color: #fff;
}
