body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-centrado {
    width: 80%;
    max-width: 400px;
    height: auto;
    filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.2));
    margin: 20px auto;
}
